body{
    padding:0;
    margin:0;
}
#header{
    background-color:floralwhite;
    text-align:center;
    height:100px;
}
.center{
    display: block;
    margin: 0 auto;
}
#links{
    /*position:absolute;
    top: 120px;
    left: 0px;
    background-color:yellow;
    width: 100px;
    */
    float: left;
    position: fixed;
    background-color: floralwhite;
    width:15%;
}
#content{
    /*
    margin-left:105px;
    margin-right:305px;
    */
    position: relative;
    left: 15%;
   float: left;
    width:80%;
    
}