#figure1{
    float: left;
    margin-right: 5px;
}
.clear{
    clear:both;
}
body{
    padding:0;
    margin:0;
}
#header{
    text-align:center;
    height:100px;
}
#links{
    /*position:absolute;
    top: 120px;
    left: 0px;
    background-color:yellow;
    width: 100px;
    */
    float:left;
    background-color:red;
    width:10%;
}
#authorinfo{
    /*position:absolute;
    top: 120px;
    right:0px;
    width: 300px;
    */

    float:right;
    background-color:aqua;
    width: 20%;
}
#content{
    /*
    margin-left:105px;
    margin-right:305px;
    */
   float: left;
    background-color:yellow;
    width:70%;
}