body{
    background-image:url(background-image2.jpg);
    background-size: contain;
}

#header{
    background-color:#E8ACD6;
    color: #5B2049;
    border: 5px solid rgba(161,80,137,0.5);
    justify-content: space-between;
}

#header img {
  border: 1px solid #003333;
}

.container{
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 120px;
}

.post{
    padding: 20px;
    margin: 5px;
    border-radius: 25px;
    border: 10px solid rgba(161,80,137,0.4);
    background-color: rgba(161,80,137,0.2);
    font-family: 'Cardo', serif;
    font-size: 125%;
    width: 800px;

}

.post h2{
  color: #60104B;
}
